# Ignore my scratch files
Spreadsheets/
**/scratch*
**/working*
**/blah*

# Ignore pycaches
**/__pycache__/

# Ignore R history files
**/.Rhistory

# Ignore Notebook outputs
examples/*.csv
examples/*.png
